* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: inherit;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: black;
}

.slide {
  height: auto;
}
.drop {
  background-color: transparent !important;
}
.dropbtn {
  position: relative;
  color: white !important;
  font-weight: 500;
  background: transparent;
  border: none;
  padding-bottom: 8px;
  transition: color 0.3s ease, transform 0.3s ease;
  &:hover {
    color: #bd1e2c;
  }
}

.logo {
  background-color: black !important;
}

.dropbtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 100%;
  height: 2px;
  background: #bd1e2c;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

.dropdown:hover .dropbtn::after {
  transform: scaleX(1);
}

.dropdown {
  padding: 8px 16px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  width: 165px;
  display: none;
  background: #1a1a1a;
  border-bottom: 3px solid #bd1e2c;
  font-size: 14px;
  padding: 10px 0;
  z-index: 100;
  transition: ease-out 0.4s;
}

.dropdown-content a {
  position: relative;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: transform 0.3s ease-out;
}

.dropdown-content a::before {
  content: '';
  position: absolute;
  left: 6px;
  opacity: 0;
  background: #bd1e2c;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
  bottom: 16px;
  width: 3%;
  height: 2px;
}

.dropdown-content a:hover::before {
  opacity: 1;
  transform: scaleX(3);
}

.dropdown-content a:hover {
  transform: translateX(10px);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btnDownload {
  bottom: 130px;
  left: 47px;
  position: relative;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: white;
  font-weight: 500;
}

.map-container {
  height: 500px;
  width: 100%;
}

.hsss {
  color: #bd1e2c;
  font-size: 200px;
}
