.footer {
  background: url(../../img/bg_soc.png) no-repeat bottom center;
  padding: 250px 0 50px;
  width: 928px;
  justify-content: center;
  align-items: center;
  color: white !important;
  position: relative;
  display: flex;

  .footer-2 {
    position: relative;
    top: 100px;
    width: 928px;
  }
}
